.dataRow:hover {
  /* FIXME: !important workaround for CSS import order issue */
  background: rgba(193, 166, 204, 0.15) !important;
  cursor: pointer;
}

.moreActions {
  color: var(--textSecondary);
}
