.root {
  --panelGradientStartColor: rgba(83, 174, 168, 0.25);
  --panelGradientStopColor: rgba(83, 174, 168, 0.025);
}

.chart {
  display: flex;
  height: 48px;
  margin-bottom: calc(2 * var(--unit));
  gap: calc(0.5 * var(--unit));
}

.bar {
  width: 6px;
  height: 100%;
  border-radius: var(--roundedFull);
  background: var(--surfaceLight);

  &.full {
    background: var(--secondaryLight);
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: calc(0.5 * var(--unit));
}
