.root {
  width: 100%;
  min-width: var(--pageMinWidth);
  max-width: var(--pageMaxWidth);
  padding-right: calc(4 * var(--unit));
  padding-left: calc(4 * var(--unit));
  margin-right: auto;
  margin-left: auto;

  &.narrow {
    min-width: var(--pageNarrowWidth);
    max-width: var(--pageNarrowWidth);
  }
}
