.root {
  display: inline-block;
  overflow: hidden;
  max-width: 188px;
  height: calc(4 * var(--unit));
  padding: var(--unit) calc(1.5 * var(--unit));
  border-radius: var(--roundedFull);
  background: var(--surface);
  color: var(--text);
  font: var(--fontSizeSm) var(--fontMono);
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}
