.title {
  margin: 0;
  font-family: var(--fontSecondary);
  font-size: var(--fontSize4Xl);
  font-weight: 500;
}

.dashboard {
  display: grid;
  gap: calc(2 * var(--unit));
  grid-template: auto auto / repeat(6, 1fr);

  & > :nth-child(-n + 3) {
    grid-column: span 2;
  }

  & > :nth-child(n + 4) {
    grid-column: span 3;
  }
}
